In [1]:
import pandas as pd
import numpy as np

In [2]:
x=np.zeros((3,3))

In [3]:
x[:,0]=0
x[:,1]=1
x[:,2]=2

In [4]:
x

array([[0., 1., 2.],
       [0., 1., 2.],
       [0., 1., 2.]])

In [5]:

df=pd.DataFrame(data=np.ones((3,4)),columns=['a','b','c','d'])

In [6]:
df

     a    b    c    d
0  1.0  1.0  1.0  1.0
1  1.0  1.0  1.0  1.0
2  1.0  1.0  1.0  1.0

In [7]:
df['a1']=x[:,0]

In [8]:
df['a2']=x[:,1]

In [9]:
df['a3']=x[:,2]

In [10]:
df

     a    b    c    d   a1   a2   a3
0  1.0  1.0  1.0  1.0  0.0  1.0  2.0
1  1.0  1.0  1.0  1.0  0.0  1.0  2.0
2  1.0  1.0  1.0  1.0  0.0  1.0  2.0

In [3]:
a=[-2,3,1,-4,5]
def square_num(num):
    return num*num
sorted(a,key=square_num)

[1, -2, 3, -4, 5]

In [5]:
sorted([(1,3),(10,4),(3,5)])

[(1, 3), (3, 5), (10, 4)]

In [6]:
help(sorted)

Help on built-in function sorted in module builtins:

sorted(iterable, key=None, reverse=False)
    Return a new list containing all items from the iterable in ascending order.

    A custom key function can be supplied to customise the sort order, and the
    reverse flag can be set to request the result in descending order.

In [7]:
lis = [x*x for x in range(10)]
lis

[0, 1, 4, 9, 16, 25, 36, 49, 64, 81]

In [14]:
a=(x*x for x in range(10))
a

In [13]:
for each in a:
    print(each)

0
1
4
9
16
25
36
49
64
81

In [1]:
from keras_bert import load_trained_model_from_checkpoint, Tokenizer

ImportError: No module named 'keras_bert'